@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Satisfy&display=swap");
/* VARIABLES */
/*MODIFICADORES UNIVERSALES */
* {
  margin: 0%;
  box-sizing: border-box;
}

/*BARRA DE NAVEGACIÓN*/
nav {
  font-size: larger;
}
nav .logo {
  margin-right: 50px;
}
nav ul {
  display: flex;
  flex-direction: row;
}
nav li {
  display: inline;
  font-size: larger;
  margin: 4px;
}
nav .boton {
  width: 180px;
  text-align: center;
  font-size: x-large;
  background-color: rgb(177, 127, 72);
  color: rgb(86, 56, 31);
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow, brown);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
}
nav .boton:hover, nav a:focus {
  background-size: 100% 6px;
  transition: background-size 1s;
}

/*INDEX - DATOS PERSONALES */
.info {
  height: 1100px;
  /*INDEX - SLOGAN */
  /*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/
}
.info section {
  background-image: linear-gradient(to right, white, #b17f48);
  padding-bottom: 15px;
}
.info section .subtitulo {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Pacifico", cursive;
  background-color: rgb(177, 127, 72);
  padding: 8px;
  color: white;
}
.info section .alifer2 {
  height: 304px;
  width: 512px;
  margin-left: 20px;
  transform: rotate(3deg);
}
.info section .names {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
}
.info section .chefs {
  margin-top: 40px;
  font-family: "Satisfy", cursive;
  font-size: x-large;
  padding: 2%;
  text-align: justify;
}
.info article {
  text-align: center;
  background-image: linear-gradient(to left, white, #b17f48);
  height: 250px;
}
.info article .slogan {
  font-family: "Pacifico", cursive;
  text-align: center;
  background-color: rgb(177, 127, 72);
  padding: 8px;
  color: white;
}
.info article .nos {
  font-family: "Satisfy", cursive;
  font-size: x-large;
}
.info .festivo {
  background-image: linear-gradient(to right, white, #b17f48);
  text-align: center;
  height: 41%;
}
.info .festivo .calendar {
  margin: 20px;
}

/*PIE DE PÁGINA */
footer #fondoFooter {
  font-size: 20px;
  font-style: normal;
  background-color: rgb(86, 56, 31);
}
footer #fondoFooter .redes {
  font-size: larger;
  font-family: "Pacifico", cursive;
}
footer #fondoFooter .Instagram {
  list-style: none;
  font-family: "Pacifico", cursive;
}
footer #fondoFooter .Facebook {
  list-style: none;
  margin: 20px 0px 20px 0px;
  font-family: "Pacifico", cursive;
}
footer #fondoFooter .fa-facebook, footer #fondoFooter .fa-whatsapp, footer #fondoFooter .fa-instagram {
  margin-right: 5px;
}
footer #fondoFooter .n1 {
  list-style: none;
  font-family: "Pacifico", cursive;
}
footer #fondoFooter .n2 {
  list-style: none;
  font-family: "Pacifico", cursive;
}
footer .Cen .map {
  margin-top: 20px;
  width: 300px;
  height: 300px;
}

/*PRODUCTOS - GALERIAS */
main .titleBar {
  height: 60px;
  background-color: rgb(177, 127, 72);
}
main .titleBar .titles {
  padding: 8px;
  font-size: 40px;
  text-align: center;
  font-family: "Pacifico", cursive;
  color: white;
}
main #galeria {
  display: flex;
  padding-bottom: 25px;
  height: 650px;
}
main #galeria .title1, main #galeria .title5, main #galeria .title4, main #galeria .title3, main #galeria .title2 {
  text-align: center;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
}
main #galeria img {
  width: 180px;
  height: 180px;
}
main #galeria .brownies1 {
  margin: 5px;
}
main #galeria .brownies1:hover {
  transform: scale(1.2);
}
main #galeria .brownies2 {
  margin: 5px;
}
main #galeria .brownies2:hover {
  transform: scale(1.2);
}
main #galeria .brownies3 {
  margin: 5px;
}
main #galeria .brownies3:hover {
  transform: scale(1.2);
}
main #galeria .cookies1 {
  margin: 5px;
}
main #galeria .cookies1:hover {
  transform: scale(1.2);
}
main #galeria .cookies2 {
  margin: 5px;
}
main #galeria .cookies2:hover {
  transform: scale(1.2);
}
main #galeria .cookies3 {
  margin: 5px;
}
main #galeria .cookies3:hover {
  transform: scale(1.2);
}
main #galeria .panificados1 {
  margin: 5px;
}
main #galeria .panificados1:hover {
  transform: scale(1.2);
}
main #galeria .panificados2 {
  margin: 5px;
}
main #galeria .panificados2:hover {
  transform: scale(1.2);
}
main #galeria .panificados3 {
  margin: 5px;
}
main #galeria .panificados3:hover {
  transform: scale(1.2);
}
main #galeria .facturas1 {
  margin: 5px;
}
main #galeria .facturas1:hover {
  transform: scale(1.2);
}
main #galeria .facturas2 {
  margin: 5px;
}
main #galeria .facturas2:hover {
  transform: scale(1.2);
}
main #galeria .facturas3 {
  margin: 5px;
}
main #galeria .facturas3:hover {
  transform: scale(1.2);
}
main #galeria .salado1 {
  margin: 5px;
}
main #galeria .salado1:hover {
  transform: scale(1.2);
}
main #galeria .salado2 {
  margin: 5px;
}
main #galeria .salado2:hover {
  transform: scale(1.2);
}
main #galeria .salado3 {
  margin: 5px;
}
main #galeria .salado3:hover {
  transform: scale(1.2);
}

/*FESTIVIDADES - INFORMACIÓN GENERAL */
.productosFestivos {
  background-image: linear-gradient(to left, white, #b17f48);
  height: 1720px;
  /*FESTIVIDADES - CAROUSELES */
}
.productosFestivos .serviciosPersonalizados {
  text-align: center;
  padding: 8px;
  font-size: 40px;
  font-family: "Pacifico", cursive;
  background-color: rgb(177, 127, 72);
  color: white;
}
.productosFestivos h2 {
  font-family: "Satisfy", cursive;
  font-weight: bolder;
}
.productosFestivos .volanta {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: x-large;
}
.productosFestivos #carouselExampleControls, .productosFestivos #carouselExampleControls3, .productosFestivos #carouselExampleControls2 {
  text-align: center;
  padding: 10px;
}
/*SERVICIO DE CATERING*/
main {
  background-image: linear-gradient(to left, white, #b17f48);
}
main .catering1 {
  align-items: center;
  height: 700px;
}
main .servicio {
  text-align: center;
  padding: 8px;
  font-size: 40px;
  font-family: "Pacifico", cursive;
  background-color: rgb(177, 127, 72);
  color: white;
}
main .textoCatering {
  font-family: "Satisfy", cursive;
  font-size: x-large;
}
main .video {
  display: flex;
  display: inline-block;
  margin: 20px;
}

/*FORMULARIO DE CONTACTO*/
.formulario {
  height: 500px;
}
.formulario .flex__container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to right, white, #b17f48);
  padding: 15px;
}
.formulario .mensaje {
  text-align: center;
  padding: 8px;
  font-size: 40px;
  font-family: "Pacifico", cursive;
  background-color: rgb(177, 127, 72);
  color: white;
}
.formulario .form {
  width: 100%;
  height: 400px;
  flex: 1;
}
.formulario .form__input {
  width: 70%;
  margin: 7px;
  padding: 7px;
  border: 5px solid rgb(177, 127, 72);
  background: transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}
.formulario #button {
  width: 160px;
  justify-items: center;
}
.formulario .form__input:focus {
  background-color: rgb(177, 127, 72);
  outline: none;
}
.formulario textarea {
  min-height: 100px;
  resize: none;
}
.formulario .imagenEmail {
  width: 400px;
  height: 400px;
  flex: 1;
  padding: 10px;
}

/*ADAPTACION MOBILE - MEDIA QUERIES - ADAPTACION MOBILE - MEDIA QUERIES*/
@media screen and (max-width: 380px) {
  /*BARRA DE NAVEGACIÓN*/
  #logo {
    width: 50px;
    height: 50px;
  }
  /*INDEX - DATOS PERSONALES */
  .info {
    height: 1495px;
    width: 380px;
    /*INDEX - SLOGAN */
    /*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/
    /*PIE DE PÁGINA */
  }
  .info .subtitulo {
    width: 380px;
  }
  .info .alifer2 {
    height: 70%;
    width: 70%;
    margin-left: 0px !important;
    padding: 10px;
  }
  .info .chefs {
    margin-top: 25px;
    text-align: center;
  }
  .info .names {
    margin-top: 20px;
  }
  .info .desafio1 {
    height: 450px;
  }
  .info .slogan {
    font-size: 17pt;
    padding: 10px;
  }
  .info .festivo {
    height: fit-content;
  }
  .info .calendar {
    width: 90%;
    align-items: center;
  }
  .info .Cen {
    justify-items: center;
  }
  .info .Cen .map {
    margin: 40px 30px 40px 30px;
    width: 60px;
    height: 60px;
  }
  /* PRODUCTOS RESPONSIVE*/
  .conteinerGaleria {
    height: 1350px;
    background-image: linear-gradient(to right, white, #b17f48);
  }
  .conteinerGaleria #galeria {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "budines   cookies" "brownies1 cookies1" "brownies2 cookies2" "brownies3 cookies3" "panaderia facturas" "panificados 1 facturas 1" "panificados2 facturas2" "panificados3 facturas3" ".            salado" ".            salado1" ".            salado2" ".            salado3";
  }
  .conteinerGaleria #galeria img {
    justify-items: center;
    height: 120px;
    width: 120px;
  }
  .conteinerGaleria #galeria .title1, .conteinerGaleria main #galeria .title2, main .conteinerGaleria #galeria .title2, .conteinerGaleria main #galeria .title3, main .conteinerGaleria #galeria .title3, .conteinerGaleria main #galeria .title4, main .conteinerGaleria #galeria .title4, .conteinerGaleria main #galeria .title5, main .conteinerGaleria #galeria .title5 {
    text-align: center;
    font-size: x-large;
    grid-area: budines;
  }
  .conteinerGaleria #galeria .title2 {
    text-align: center;
    font-size: x-large;
    grid-area: cookies;
  }
  .conteinerGaleria #galeria .title3 {
    text-align: center;
    font-size: x-large;
    grid-area: panaderia;
  }
  .conteinerGaleria #galeria .title4 {
    text-align: center;
    font-size: x-large;
    grid-area: facturas;
  }
  .conteinerGaleria #galeria .title5 {
    text-align: center;
    font-size: x-large;
    grid-area: salado;
  }
  .conteinerGaleria #galeria .brownies {
    margin-left: 22px;
  }
  .conteinerGaleria #galeria .cookies {
    margin-left: 22px;
  }
  .conteinerGaleria #galeria .panes {
    margin-left: 22px;
  }
  .conteinerGaleria #galeria .facturas {
    margin-left: 22px;
  }
  .conteinerGaleria #galeria .brownies1 {
    grid-area: brownies1;
  }
  .conteinerGaleria #galeria .brownies2 {
    grid-area: brownies2;
  }
  .conteinerGaleria #galeria .brownies3 {
    grid-area: brownies3;
  }
  .conteinerGaleria #galeria .cookies1 {
    grid-area: cookies1;
    margin: 5px;
  }
  .conteinerGaleria #galeria .cookies2 {
    grid-area: cookies2;
    margin: 5px;
  }
  .conteinerGaleria #galeria .cookies3 {
    grid-area: cookies3;
    margin: 5px;
  }
  .conteinerGaleria #galeria .panificados1 {
    grid-area: panificados1;
    margin: 5px;
  }
  .conteinerGaleria #galeria .panificados2 {
    grid-area: panificados2;
    margin: 5px;
  }
  .conteinerGaleria #galeria .panificados3 {
    grid-area: panificados3;
    margin: 5px;
  }
  .conteinerGaleria #galeria .facturas1 {
    grid-area: facturas1;
    margin: 5px;
  }
  .conteinerGaleria #galeria .facturas2 {
    grid-area: facturas2;
    margin: 5px;
  }
  .conteinerGaleria #galeria .facturas3 {
    grid-area: facturas3;
    margin: 5px;
  }
  .conteinerGaleria #galeria .salado1 {
    grid-area: salado1;
    margin: 5px 0px 0px 25px;
  }
  .conteinerGaleria #galeria .salado2 {
    grid-area: salado2;
    margin: 5px 0px 0px 25px;
  }
  .conteinerGaleria #galeria .salado3 {
    grid-area: salado3;
    margin: 5px 0px 0px 25px;
  }
  /*FESTIVIDADES*/
  .productosFestivos {
    height: 1050px;
  }
  .torta1, .pan1, .huevo {
    height: 180px;
    width: 180px;
  }
  /* SERVICIO DE CATERING*/
  .catering {
    height: 1300px;
  }
  .textoCatering {
    text-align: center;
  }
  .video {
    width: 350px;
    align-items: center;
  }
  /*FORMULARIO DE CONTACTO*/
  .formulario {
    height: 950px;
  }
  .form {
    padding: 20px;
  }
  .form__section {
    text-align: center;
  }
  .emailContainer {
    display: flex;
  }
  .imagenEmail {
    width: 80%;
    height: fit-content;
    justify-content: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
