@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Satisfy&display=swap");
/* VARIABLES */
/*MODIFICADORES UNIVERSALES */
* {
  margin: 0%;
  box-sizing: border-box;
}

h2 {
  font-style: "Satisfy", cursive;
}

/*BARRA DE NAVEGACIÓN*/
nav {
  font-size: larger;
}
nav .boton {
  font-family: "Indie Flower", cursive;
}
nav:hover {
  color: black;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav li {
  display: inline;
  font-size: larger;
  margin: 4px;
}

/*INDEX - DATOS PERSONALES */
main {
  /*INDEX - SLOGAN */
  /*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/
}
main .perfil {
  background-color: aquamarine;
  justify-content: center;
  padding-bottom: 15px;
}
main .subtitulo {
  text-align: center;
  margin: 15px 0px 35px 0px;
  font-family: "Pacifico", cursive;
}
main .alifer2 {
  height: 304px;
  width: 512px;
  margin-left: 20px;
  border: 15px solid;
}
main .names {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
}
main .chefs {
  margin-top: 40px;
  font-family: "Satisfy", cursive;
  font-size: x-large;
  padding: 2%;
}
main .desafio1 {
  text-align: center;
  padding: 30px;
  background-color: rgb(134, 243, 220);
}
main .slogan {
  font-family: "Pacifico", cursive;
}
main .nos {
  margin-top: 40px;
  font-family: "Satisfy", cursive;
  font-size: x-large;
}
main .calendar {
  margin: 10px;
}
main .festivo {
  background-color: aquamarine;
  text-align: center;
  height: 100%;
  width: 100%;
}

/*PIE DE PÁGINA */
footer #fondoFooter {
  display: flex;
  font-size: 20px;
  font-style: normal;
  background-image: linear-gradient(to top, aqua, lightblue);
}
footer .redes {
  font-size: larger;
  font-family: "Pacifico", cursive;
}
footer .Instagram {
  list-style: none;
  font-family: "Pacifico", cursive;
}
footer .Facebook {
  list-style: none;
  margin: 20px 0px 20px 0px;
  font-family: "Pacifico", cursive;
}
footer .fa-facebook, footer .fa-whatsapp, footer .fa-instagram {
  margin-right: 5px;
}
footer .n1 {
  list-style: none;
  font-family: "Pacifico", cursive;
}
footer .n2 {
  list-style: none;
  font-family: "Pacifico", cursive;
}
footer .map {
  width: 300px;
  height: 300px;
}

/*PRODUCTOS - GALERIAS */
.titles {
  text-align: center;
  background-color: rgb(182, 198, 38);
  font-family: "Pacifico", cursive;
}

#galeria {
  display: flex;
  background-color: aquamarine;
  padding-bottom: 25px;
  height: 650px;
}
#galeria .title1, #galeria .title5, #galeria .title4, #galeria .title3, #galeria .title2 {
  text-align: center;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
}
#galeria img {
  align-items: center;
  width: 180px;
  height: 180px;
}
#galeria .brownies1 {
  margin: 5px;
}
#galeria .brownies1:hover {
  transform: scale(1.2);
}
#galeria .brownies2 {
  margin: 5px;
}
#galeria .brownies2:hover {
  transform: scale(1.2);
}
#galeria .brownies3 {
  margin: 5px;
}
#galeria .brownies3:hover {
  transform: scale(1.2);
}
#galeria .cookies1 {
  margin: 5px;
}
#galeria .cookies1:hover {
  transform: scale(1.2);
}
#galeria .cookies2 {
  margin: 5px;
}
#galeria .cookies2:hover {
  transform: scale(1.2);
}
#galeria .cookies3 {
  margin: 5px;
}
#galeria .cookies3:hover {
  transform: scale(1.2);
}
#galeria .panificados1 {
  margin: 5px;
}
#galeria .panificados1:hover {
  transform: scale(1.2);
}
#galeria .panificados2 {
  margin: 5px;
}
#galeria .panificados2:hover {
  transform: scale(1.2);
}
#galeria .panificados3 {
  margin: 5px;
}
#galeria .panificados3:hover {
  transform: scale(1.2);
}
#galeria .facturas1 {
  margin: 5px;
}
#galeria .facturas1:hover {
  transform: scale(1.2);
}
#galeria .facturas2 {
  margin: 5px;
}
#galeria .facturas2:hover {
  transform: scale(1.2);
}
#galeria .facturas3 {
  margin: 5px;
}
#galeria .facturas3:hover {
  transform: scale(1.2);
}
#galeria .salado1 {
  margin: 5px;
}
#galeria .salado1:hover {
  transform: scale(1.2);
}
#galeria .salado2 {
  margin: 5px;
}
#galeria .salado2:hover {
  transform: scale(1.2);
}
#galeria .salado3 {
  margin: 5px;
}
#galeria .salado3:hover {
  transform: scale(1.2);
}

/*FESTIVIDADES - INFORMACIÓN GENERAL */
.productosFestivos {
  background-color: aquamarine;
  padding: 10px;
}

.serviciosPersonalizados {
  text-align: center;
  font-size: 40px;
  font-family: "Pacifico", cursive;
}

.volanta {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: x-large;
}

/*FESTIVIDADES - CAROUSELES */
#carouselExampleControls {
  text-align: center;
}

#carouselExampleControls2 {
  text-align: center;
}

#carouselExampleControls3 {
  text-align: center;
}

/*SERVICIO DE CATERING*/
.servicio {
  text-align: center;
  font-family: "Pacifico", cursive;
}

.catering1 {
  background-color: aquamarine;
  align-items: center;
}

.textoCatering {
  font-family: "Satisfy", cursive;
  font-size: x-large;
}

.video {
  display: flex;
  display: inline-block;
  margin: 20px;
}

/*FORMULARIO DE CONTACTO*/
.flex__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: aqua;
}

.mensaje {
  background-color: #00ffff;
  font-family: "Pacifico", cursive;
}

.form {
  width: 100%;
  height: 400px;
  flex: 1;
  text-align: right;
}

.form__input {
  width: 70%;
  margin: 7px;
  padding: 7px;
  border: none;
  border: 5px solid #468bb3;
  background: transparent;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: medium;
}

#button {
  width: 160px;
}

.form__input:focus {
  background-color: #61bdf2;
  outline: none;
}

textarea {
  min-height: 100px;
  resize: none;
}

.imagenEmail {
  width: 400px;
  height: 400px;
  flex: 1;
  padding: 10px;
}

li img {
  height: 180px;
  width: 180px;
}

.boton {
  width: 180px;
  text-align: center;
  font-size: x-large;
  background-color: aquamarine;
}

/*ADAPTACION MOBILE - MEDIA QUERIES*/
@media screen and (max-width: 380px) {
  /*BARRA DE NAVEGACIÓN*/
  header {
    background-image: none;
    background-color: aqua;
  }
  #logo {
    width: 50px;
    height: 50px;
  }
  nav {
    display: flex;
  }
  nav a:hover {
    color: white;
  }
  /*INDEX - DATOS PERSONALES */
  .data {
    display: inline;
  }
  .alifer2 {
    height: fit-content;
    align-items: center;
    margin-top: 30px;
    border: none;
  }
  .chefs {
    margin-top: 25px;
    text-align: center;
  }
  .names {
    margin-top: 20px;
  }
  /*INDEX - SLOGAN */
  .desafio1 {
    height: 550px;
  }
  .slogan {
    margin-top: -25px;
    font-size: 17pt;
    padding: 10px;
  }
  /*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/
  .festivo {
    height: 180px;
    display: flex;
  }
  .calendar {
    height: fit-content;
    width: 80%;
    align-items: center;
  }
  /*PIE DE PÁGINA */
  .footerIzq {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, aqua, lightblue);
  }
  .Cen {
    background-image: linear-gradient(to top, aqua, lightblue);
  }
  .redes {
    display: inline;
  }
  .map {
    margin-top: 45px;
    width: 60px;
    height: 60px;
  }
  /* PRODUCTOS RESPONSIVE*/
  #galeria {
    display: flex;
    background-color: aquamarine;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "budines   cookies" "brownies1 cookies1" "brownies2 cookies2" "brownies3 cookies3" "panaderia facturas" "panificados 1 facturas 1" "panificados2 facturas2" "panificados3 facturas3" "salado ." "salado1 ." "salado2 ." "salado3 .";
    height: 1500px;
  }
  #galeria img {
    height: 120px;
    width: 120px;
  }
  #galeria .title1, #galeria .title2, #galeria .title3, #galeria .title4, #galeria .title5 {
    text-align: center;
    font-size: x-large;
    font-family: "Indie Flower", cursive;
    grid-area: budines;
  }
  #galeria .title2 {
    grid-area: cookies;
  }
  #galeria .title3 {
    grid-area: panaderia;
  }
  #galeria .title4 {
    grid-area: facturas;
  }
  #galeria .title5 {
    grid-area: salado;
  }
  #galeria .brownies1 {
    grid-area: brownies1;
    margin: 5px;
  }
  #galeria .brownies2 {
    grid-area: brownies2;
    margin: 5px;
  }
  #galeria .brownies3 {
    grid-area: brownies3;
    margin: 5px;
  }
  #galeria .cookies1 {
    grid-area: cookies1;
    margin: 5px;
  }
  #galeria .cookies2 {
    grid-area: cookies2;
    margin: 5px;
  }
  #galeria .cookies3 {
    grid-area: cookies3;
    margin: 5px;
  }
  #galeria .panificados1 {
    grid-area: panificados1;
    margin: 5px;
  }
  #galeria .panificados2 {
    grid-area: panificados2;
    margin: 5px;
  }
  #galeria .panificados3 {
    grid-area: panificados3;
    margin: 5px;
  }
  #galeria .facturas1 {
    grid-area: facturas1;
    margin: 5px;
  }
  #galeria .facturas2 {
    grid-area: facturas2;
    margin: 5px;
  }
  #galeria .facturas3 {
    grid-area: facturas3;
    margin: 5px;
  }
  #galeria .salado1 {
    grid-area: salado1;
    margin: 5px;
  }
  #galeria .salado2 {
    grid-area: salado2;
    margin: 5px;
  }
  #galeria .salado3 {
    grid-area: salado3;
    margin: 5px;
  }
  /*FESTIVIDADES*/
  .torta1, .pan1, .huevo {
    height: 180px;
    width: 180px;
  }
  /* SERVICIO DE CATERING*/
  .video {
    width: 350px;
    align-items: center;
  }
  /*FORMULARIO DE CONTACTO*/
  .form {
    text-align: center;
  }
  .emailContainer {
    display: flex;
  }
  .imagenEmail {
    width: 80%;
    height: fit-content;
    justify-content: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
