@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Satisfy&display=swap');


/* VARIABLES */
$font1:'Indie Flower', cursive;
$font2:'Pacifico', cursive;
$font3:'Satisfy', cursive;



$color2:#00ffff;
$color3:rgb(134, 243, 220);

/*MODIFICADORES UNIVERSALES */

*{margin: 0%;
box-sizing: border-box;
}


/*BARRA DE NAVEGACIÓN*/

nav{
    font-size: larger;

    ul {
        display: flex;
        flex-direction: row;
    }

        li {
            display: inline;
            font-size: larger;
            margin: 4px;
        }

            .boton {
                width: 180px;
                text-align: center;
                font-size: x-large;
                background-color:rgb(177, 127, 72);
                color: rgb(86, 56, 31);
                font-family: $font1;
                font-weight: bolder;
            }
}

/*INDEX - DATOS PERSONALES */
@mixin sizes ($height, $width){
    height: $height;
    width: $width;
}

.info{
    height: 1100px;

    section{
            background-image:linear-gradient(to right,white, #b17f48);
            padding-bottom: 15px;


        .subtitulo{
            text-align: center;
            margin-bottom: 20px;
            font-family:$font2;
            background-color: rgb(177, 127, 72);
            padding: 8px;
            color: white;
        }

        .alifer2 {
            @include sizes(304px,512px );
            margin-left: 20px;

        }

        .names {

            display: flex;
            justify-content: center;
            font-size:xx-large;
            font-family: $font1;
        }

        .chefs {
            margin-top: 40px;
            font-family:$font3;
            font-size: x-large;
            padding: 2%;
            text-align: justify;
        }

    }
    /*INDEX - SLOGAN */

        article {
            text-align: center;
            background-image:linear-gradient(to left,white, #b17f48);
            height: 250px;


        .slogan {
            font-family: $font2;
            text-align: center;
            background-color: rgb(177, 127, 72);
            padding: 8px;
            color: white;
        }

        .nos {
            font-family: $font3;
            font-size: x-large;
        }
    }

    /*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/

    .festivo {
        background-image:linear-gradient(to right,white, #b17f48);
        text-align:center;
        height: 50% ;
        width: 100%;

        .calendar {
            margin: 20px;
        }
    }
}
/*PIE DE PÁGINA */

footer {

    #fondoFooter{
        display: flex;
        font-size: 20px;
        font-style: normal;
        background-color:  rgb(86, 56, 31);

        .redes {
        font-size: larger;
        font-family: $font2;
        }

        .Instagram {
            list-style: none;
            font-family: $font2;
        }

        .Facebook {
            list-style: none;
            margin: 20px 0px 20px 0px;
            font-family: $font2;
        }

        .fa-facebook{
            margin-right: 5px;
        }

        .fa-instagram {
            @extend .fa-facebook
        }

        .fa-whatsapp {
            @extend.fa-facebook
        }

        .n1{
            list-style:none;
            font-family: $font2;
        }

        .n2{
            list-style:none;
            font-family: $font2;
        }
    }

    .Cen {

            .map {
                margin-top: 20px;
                width: 300px;
                height: 300px;
            }
        }
    }

/*PRODUCTOS - GALERIAS */

        .titleBar {
            height: 60px;
            background-color: rgb(177, 127, 72);


            .titles{
                padding: 8px;
                font-size: 40px;
                text-align: center;
                font-family: $font2;
                color: white;
            }

        }

        #galeria{
            display: flex;
            padding-bottom: 25px;
            height: 650px;

            .title1{
                text-align: center;
                font-size:xx-large;
                font-family:$font1
            }

            .title2{
                @extend .title1;
            }

            .title3{
                @extend .title1;
            }

            .title4{
                @extend .title1;
            }

            .title5{
                @extend .title1;
            }

            img {
                width: 180px;
                height: 180px;
            }

            .brownies1{
                margin: 5px;
            }

            .brownies1:hover {
                transform: scale(1.2);
            }

            .brownies2 {
                margin: 5px;
            }

            .brownies2:hover {
                transform: scale(1.2);
            }

            .brownies3{
                margin: 5px;
            }

            .brownies3:hover {
                transform: scale(1.2);
            }

            .cookies1{
                margin: 5px;
            }

            .cookies1:hover {
                transform: scale(1.2);
            }

            .cookies2 {
                margin: 5px;
            }

            .cookies2:hover {
                transform: scale(1.2);
            }

            .cookies3{
                margin: 5px;
            }

            .cookies3:hover {
                transform: scale(1.2);
            }

            .panificados1{
                margin: 5px;
            }

            .panificados1:hover {
                transform: scale(1.2);
            }

            .panificados2{
                margin: 5px;
            }

            .panificados2:hover {
                transform: scale(1.2);
            }

            .panificados3{
                margin: 5px;
            }

            .panificados3:hover {
                transform: scale(1.2);
            }

            .facturas1{
                margin: 5px;
            }

            .facturas1:hover {
                transform: scale(1.2);
            }

            .facturas2{
                margin: 5px;
            }

            .facturas2:hover {
                transform: scale(1.2);
            }

            .facturas3{
                margin: 5px;
            }

            .facturas3:hover {
                transform: scale(1.2);
            }

            .salado1{
                margin: 5px;
            }

            .salado1:hover {
                transform: scale(1.2);
            }

            .salado2{
                margin: 5px;
            }

            .salado2:hover {
                transform: scale(1.2);
            }

            .salado3{
                margin: 5px;
            }

            .salado3:hover {
                transform: scale(1.2);
            }
        }


    /*FESTIVIDADES - INFORMACIÓN GENERAL */

    .productosFestivos {
        background-image:linear-gradient(to left,white, #b17f48);
        height: 1100px;

        .serviciosPersonalizados {
            text-align: center;
            padding: 8px;
            font-size: 40px;
            font-family: $font2;
            background-color: rgb(177, 127, 72);
            color: white;
        }

        h2{
            font-family: $font3;
            font-weight: bolder;
        }

        .volanta {
            text-align: center;
            font-family: $font3;
            font-size: x-large;
        }

    /*FESTIVIDADES - CAROUSELES */

        #carouselExampleControls {
            text-align: center;
            padding: 10px;

        }

        #carouselExampleControls2{
            @extend #carouselExampleControls;
        }


        #carouselExampleControls3{
            @extend #carouselExampleControls;
        }

    }

/*SERVICIO DE CATERING*/
main{

    background-image:linear-gradient(to left,white, #b17f48);

        .servicio {
            text-align: center;
            padding: 8px;
            font-size: 40px;
            font-family: $font2;
            background-color: rgb(177, 127, 72);
            color: white;
        }

        .catering1 {
            align-items: center;
            height: 700px;
        }

        .textoCatering {
            font-family: $font3;
            font-size: x-large;
        }

        .video {
            display: flex;
            display: inline-block;
            margin: 20px;
        }
}

    /*FORMULARIO DE CONTACTO*/

    .formulario {
        height: 470px;
    }

        .flex__container {
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;
            background-image:linear-gradient(to right,white, #b17f48);
        }

        .mensaje {
            text-align: center;
            padding: 8px;
            font-size: 40px;
            font-family: $font2;
            background-color: rgb(177, 127, 72);
            color: white;
        }

        .form {
            width: 100%;
            height: 400px;
            flex: 1;
            text-align: right;
        }

        .form__input {
            width: 70%;
            margin: 7px;
            padding: 7px;
            border: none;
            border: 5px solid rgb(177, 127, 72);;
            background: transparent;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: medium;
        }

        #button {
            width: 160px;
        }

        .form__input:focus {
            background-color:rgb(177, 127, 72);;
            outline: none;
        }

        textarea {
            min-height: 100px;
            resize: none;
        }

        .imagenEmail {
            width: 400px;
            height: 400px;
            flex: 1;
            padding: 10px;
        }

/*ADAPTACION MOBILE - MEDIA QUERIES - ADAPTACION MOBILE - MEDIA QUERIES*/

    @media screen and (max-width: 380px)
    {

        /*BARRA DE NAVEGACIÓN*/

    #logo {
        width: 50px;
        height: 50px;
    }

    nav {
        display: flex;
    }

    nav a:hover {
        color:white;
    }

/*INDEX - DATOS PERSONALES */
.info{ height: 1600px;


    .data {
        display: inline;
    }

    .alifer2 {
        height: fit-content;
        align-items: center;
        margin-left: 0px !important;
        padding: 10px;
    }

    .chefs{
        margin-top: 25px;
        text-align: center;
    }

    .names {
        margin-top: 20px;
    }

/*INDEX - SLOGAN */

    .desafio1{
        height: 450px;
    }

    .slogan {
        margin-top: -25px;
        font-size: 17pt;
        padding: 10px;
    }

/*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/


    .festivo {
        height: 30%;
    }

    .calendar {
        height: 60%;
        width: 90%;
        margin: auto;
    }

    /*PIE DE PÁGINA */

    .footerIzq {
        display: flex;
        flex-direction: column;

        .redes {
                display: inline;
        }
    }

    .Cen {
        justify-items: center;

        .map {
            margin: 40px 30px 40px 30px;
            width: 60px;
            height: 60px;
        }
    }

}

    /* PRODUCTOS RESPONSIVE*/

.conteinerGaleria {
    height: 1350px;
    background-image:linear-gradient(to right,white, #b17f48);


    #galeria{ display: flex;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas:
        "budines   cookies"
        "brownies1 cookies1"
        "brownies2 cookies2"
        "brownies3 cookies3"
        "panaderia facturas"
        "panificados 1 facturas 1"
        "panificados2 facturas2"
        "panificados3 facturas3"
        ".            salado"
        ".            salado1"
        ".            salado2"
        ".            salado3";


        img{
            justify-items: center;
            height: 120px;
            width: 120px;
        }

        .title1{
            text-align: center;
            font-size:x-large;
            grid-area:budines;
            }

            .title2{
                text-align: center;
                font-size:x-large;
                grid-area:cookies;
            }

            .title3{
                text-align: center;
                font-size:x-large;
                grid-area:panaderia;
            }

            .title4{
                text-align: center;
                font-size:x-large;
                grid-area:facturas;
            }

            .title5{
                text-align: center;
                font-size:x-large;
                grid-area:salado;
            }

            .brownies{
                margin-left: 22px;
            }

            .cookies{
                margin-left: 22px;
            }

            .panes{
                margin-left: 22px;
            }

            .facturas{
                margin-left: 22px;
            }


            .brownies1{
            grid-area: brownies1;
            }


            .brownies2 {
                grid-area: brownies2;
            }


            .brownies3{
                grid-area: brownies3;
            }

            .cookies1{
                grid-area: cookies1;
                margin: 5px;
            }

            .cookies2 {
                grid-area: cookies2;
                margin: 5px;
            }

            .cookies3{
                grid-area: cookies3;
                margin: 5px;
            }

            .panificados1{
                grid-area: panificados1;
                margin: 5px;
            }

            .panificados2{
                grid-area: panificados2;
                margin: 5px;
            }

            .panificados3{
                grid-area: panificados3;
                margin: 5px;
            }

            .facturas1{
                grid-area: facturas1;
                margin: 5px;
            }

            .facturas2{
                grid-area: facturas2;
                margin: 5px;
            }

            .facturas3{
                grid-area: facturas3;
                margin: 5px;
            }

            .salado1{
                grid-area: salado1;
                margin: 5px 0px 0px 25px;
            }

            .salado2{
                grid-area: salado2;
                margin:5px 0px 0px 25px;
            }

            .salado3{
                grid-area: salado3;
                margin: 5px 0px 0px 25px;
            }
        }
    }
    /*FESTIVIDADES*/

    .torta1 {
    height: 180px;
    width: 180px;
    }

    .huevo {
        @extend .torta1;
    }

    .pan1{
        @extend .torta1;
    }

    /* SERVICIO DE CATERING*/

    .catering{
        height: 1300px;
    }

    .textoCatering{
        text-align: center;
    }

    .video {
        width: 350px;
        align-items:center
    }

    /*FORMULARIO DE CONTACTO*/

    .formulario {
        height: 830px;
    }

        .form{
            padding: 20px;
            text-align: center;
        }

        .emailContainer {
            display: flex;
        }

        .imagenEmail{
            width: 80%;
            height: fit-content;
            justify-content: center;
        }
    }








