@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Satisfy&display=swap");
/* VARIABLES */
/*MODIFICADORES UNIVERSALES */
* {
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*BARRA DE NAVEGACIÓN*/
nav {
  font-size: larger;
}

nav .boton {
  font-family: "Indie Flower", cursive;
}

nav:hover {
  color: black;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav li {
  display: inline;
  font-size: larger;
  margin: 4px;
}

nav .boton {
  width: 180px;
  text-align: center;
  font-size: x-large;
  background-color: aquamarine;
}

/*INDEX - DATOS PERSONALES */
main {
  /*INDEX - SLOGAN */
  /*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/
}

main section {
  background-color: aquamarine;
  padding-bottom: 15px;
}

main section .subtitulo {
  text-align: center;
  margin-left: 0px;
  font-family: "Pacifico", cursive;
}

main section .alifer2 {
  height: 304px;
  width: 512px;
  margin-left: 20px;
  border: 15px solid;
}

main section .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
}

main section .chefs {
  margin-top: 40px;
  font-family: "Satisfy", cursive;
  font-size: x-large;
  padding: 2%;
}

main article {
  text-align: center;
  padding: 30px;
  background-color: #86f3dc;
}

main article .slogan {
  font-family: "Pacifico", cursive;
}

main article .nos {
  margin-top: 40px;
  font-family: "Satisfy", cursive;
  font-size: x-large;
}

main .festivo {
  background-color: aquamarine;
  text-align: center;
  height: 100%;
  width: 100%;
}

main .festivo .calendar {
  margin: 10px;
}

/*PIE DE PÁGINA */
footer #fondoFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-style: normal;
  background-image: -webkit-gradient(linear, left bottom, left top, from(aqua), to(lightblue));
  background-image: linear-gradient(to top, aqua, lightblue);
}

footer #fondoFooter .redes {
  font-size: larger;
  font-family: "Pacifico", cursive;
}

footer #fondoFooter .Instagram {
  list-style: none;
  font-family: "Pacifico", cursive;
}

footer #fondoFooter .Facebook {
  list-style: none;
  margin: 20px 0px 20px 0px;
  font-family: "Pacifico", cursive;
}

footer #fondoFooter .fa-facebook, footer #fondoFooter .fa-instagram, footer #fondoFooter .fa-whatsapp {
  margin-right: 5px;
}

footer #fondoFooter .n1 {
  list-style: none;
  font-family: "Pacifico", cursive;
}

footer #fondoFooter .n2 {
  list-style: none;
  font-family: "Pacifico", cursive;
}

footer .Cen .map {
  width: 300px;
  height: 300px;
}

/*PRODUCTOS - GALERIAS */
.titleBar {
  height: 50px;
  background-color: #b6c626;
}

.titleBar .titles {
  text-align: center;
  background-color: #b6c626;
  font-family: "Pacifico", cursive;
}

#galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: aquamarine;
  padding-bottom: 25px;
  height: 650px;
}

#galeria .title1, #galeria .title2, #galeria .title3, #galeria .title4, #galeria .title5 {
  text-align: center;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
}

#galeria img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  height: 180px;
}

#galeria .brownies1 {
  margin: 5px;
}

#galeria .brownies1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .brownies2 {
  margin: 5px;
}

#galeria .brownies2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .brownies3 {
  margin: 5px;
}

#galeria .brownies3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .cookies1 {
  margin: 5px;
}

#galeria .cookies1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .cookies2 {
  margin: 5px;
}

#galeria .cookies2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .cookies3 {
  margin: 5px;
}

#galeria .cookies3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .panificados1 {
  margin: 5px;
}

#galeria .panificados1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .panificados2 {
  margin: 5px;
}

#galeria .panificados2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .panificados3 {
  margin: 5px;
}

#galeria .panificados3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .facturas1 {
  margin: 5px;
}

#galeria .facturas1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .facturas2 {
  margin: 5px;
}

#galeria .facturas2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .facturas3 {
  margin: 5px;
}

#galeria .facturas3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .salado1 {
  margin: 5px;
}

#galeria .salado1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .salado2 {
  margin: 5px;
}

#galeria .salado2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#galeria .salado3 {
  margin: 5px;
}

#galeria .salado3:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*FESTIVIDADES - INFORMACIÓN GENERAL */
.productosFestivos {
  background-color: aquamarine;
  padding: 10px;
  /*FESTIVIDADES - CAROUSELES */
}

.productosFestivos h2 {
  font-family: "Satisfy", cursive;
  font-weight: bolder;
}

.productosFestivos .serviciosPersonalizados {
  text-align: center;
  font-size: 40px;
  font-family: "Pacifico", cursive;
}

.productosFestivos .volanta {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: x-large;
}

.productosFestivos #carouselExampleControls, .productosFestivos #carouselExampleControls2, .productosFestivos #carouselExampleControls3 {
  text-align: center;
  margin-bottom: 20px;
}

/*SERVICIO DE CATERING*/
article {
  background-color: aquamarine;
}

article .servicio {
  text-align: center;
  font-family: "Pacifico", cursive;
}

article .catering1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .textoCatering {
  font-family: "Satisfy", cursive;
  font-size: x-large;
}

article .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  margin: 20px;
}

/*FORMULARIO DE CONTACTO*/
.flex__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00ffff;
}

.mensaje {
  font-family: "Pacifico", cursive;
  background-color: #00ffff;
}

.form {
  width: 100%;
  height: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.form__input {
  width: 70%;
  margin: 7px;
  padding: 7px;
  border: none;
  border: 5px solid #468bb3;
  background: transparent;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}

#button {
  width: 160px;
}

.form__input:focus {
  background-color: #61bdf2;
  outline: none;
}

textarea {
  min-height: 100px;
  resize: none;
}

.imagenEmail {
  width: 400px;
  height: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

li img {
  height: 180px;
  width: 180px;
}

/*ADAPTACION MOBILE - MEDIA QUERIES - ADAPTACION MOBILE - MEDIA QUERIES*/
@media screen and (max-width: 380px) {
  /*BARRA DE NAVEGACIÓN*/
  header {
    background-image: none;
    background-color: aqua;
  }
  #logo {
    width: 50px;
    height: 50px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav a:hover {
    color: white;
  }
  /*INDEX - DATOS PERSONALES */
  .data {
    display: inline;
  }
  .alifer2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px !important;
    border: 0ch;
  }
  .chefs {
    margin-top: 25px;
    text-align: center;
  }
  .names {
    margin-top: 20px;
  }
  /*INDEX - SLOGAN */
  .desafio1 {
    height: 550px;
  }
  .slogan {
    margin-top: -25px;
    font-size: 17pt;
    padding: 10px;
  }
  /*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/
  .festivo {
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .calendar {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 80%;
  }
  /*PIE DE PÁGINA */
  .footerIzq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: -webkit-gradient(linear, left bottom, left top, from(aqua), to(lightblue));
    background-image: linear-gradient(to top, aqua, lightblue);
  }
  .footerIzq .redes {
    display: inline;
  }
  .Cen {
    background-image: -webkit-gradient(linear, left bottom, left top, from(aqua), to(lightblue));
    background-image: linear-gradient(to top, aqua, lightblue);
    justify-items: center;
  }
  .Cen .map {
    margin: 40px 30px 40px 30px;
    width: 60px;
    height: 60px;
  }
  /* PRODUCTOS RESPONSIVE*/
  #galeria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: aquamarine;
    padding-bottom: 25px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
        grid-template-areas: "budines   cookies" "brownies1 cookies1" "brownies2 cookies2" "brownies3 cookies3" "panaderia facturas" "panificados 1 facturas 1" "panificados2 facturas2" "panificados3 facturas3" "salado ." "salado1 ." "salado2 ." "salado3 .";
    height: 1300px;
  }
  #galeria img {
    height: 120px;
    width: 120px;
  }
  #galeria .title1, #galeria .title2, #galeria .title3, #galeria .title4, #galeria .title5 {
    text-align: center;
    font-size: x-large;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: budines;
  }
  #galeria .title2 {
    text-align: center;
    font-size: x-large;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: cookies;
  }
  #galeria .title3 {
    text-align: center;
    font-size: x-large;
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: panaderia;
  }
  #galeria .title4 {
    text-align: center;
    font-size: x-large;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: facturas;
  }
  #galeria .title5 {
    text-align: center;
    font-size: x-large;
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: salado;
  }
  #galeria .brownies1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: brownies1;
    margin: 5px;
  }
  #galeria .brownies2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: brownies2;
    margin: 5px;
  }
  #galeria .brownies3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: brownies3;
    margin: 5px;
  }
  #galeria .cookies1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: cookies1;
    margin: 5px;
  }
  #galeria .cookies2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: cookies2;
    margin: 5px;
  }
  #galeria .cookies3 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: cookies3;
    margin: 5px;
  }
  #galeria .panificados1 {
    grid-area: panificados1;
    margin: 5px;
  }
  #galeria .panificados2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: panificados2;
    margin: 5px;
  }
  #galeria .panificados3 {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: panificados3;
    margin: 5px;
  }
  #galeria .facturas1 {
    grid-area: facturas1;
    margin: 5px;
  }
  #galeria .facturas2 {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: facturas2;
    margin: 5px;
  }
  #galeria .facturas3 {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    grid-area: facturas3;
    margin: 5px;
  }
  #galeria .salado1 {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
    grid-area: salado1;
    margin: 5px;
  }
  #galeria .salado2 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    grid-area: salado2;
    margin: 5px;
  }
  #galeria .salado3 {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
    grid-area: salado3;
    margin: 5px;
  }
  /*FESTIVIDADES*/
  .torta1, .huevo, .pan1 {
    height: 180px;
    width: 180px;
  }
  /* SERVICIO DE CATERING*/
  .video {
    width: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*FORMULARIO DE CONTACTO*/
  .form {
    text-align: center;
  }
  .emailContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .imagenEmail {
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=estilos.css.map */