@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Tiro+Gurmukhi:ital@1&family=Tiro+Telugu&display=swap');

/* VARIABLES */
$font1:'Merriweather', serif;
$font2:'Tiro Gurmukhi', serif;
$font3:'Tiro Telugu', serif;
$color1:aquamarine;
$color2:#00ffff;
$color3:rgb(134, 243, 220);

/*MODIFICADORES UNIVERSALES */

*{margin: 0%;
box-sizing: border-box;
}

h1{
    font-family: $font2;
}

h2{
    font-family: $font3;
}

/*BARRA DE NAVEGACIÓN*/

nav{
    font-size: larger;


    &:hover {
    color:black;
    }

    ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    }

    li {
    display: inline;
    font-size: larger;
    margin: 4px;
    }
}

/*INDEX - DATOS PERSONALES */
main{

    .perfil{
    background-color: $color1;
    justify-content: center;
    }

    .data{
        display: flex;
    }

    .subtitulo{
        text-align: center;
        margin-bottom: 50px;
    }

    .alifer2 {
        width: 500px;
        height: 500px;
        margin-left: 20px;
        margin-top: -40px;
    }

    .names {
        margin-left: 600px;
        display: inline;
    }

    .chefs {
        margin-top: 40px;
        font-style: oblique;
        font-size: larger;
        padding: 2%;
    }

    /*INDEX - SLOGAN */

    .desafio1 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-area:
        ". slogan slogan slogan ."
        "nos nos nos nos nos";
        font-style: oblique;
        text-align: center;
        padding: 20px;
        background-color: $color3;
        margin-top: 20px;
    }

    .slogan {
        grid-area: slogan;
    }

    .nos {
        margin-top: 40px;
        grid-area: nos;
    }

    /*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/
    .calendar {
        margin: 10px;
    }

    .festivo {
        background-color: $color1;
        text-align:center;
        height: 100% ;
        width: 100%;
    }
}
/*PIE DE PÁGINA */

footer {

    #fondoFooter{
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
        font-style: normal;
        background-image:linear-gradient(to top, aqua, lightblue);
    }

        .redes {
        font-size: larger;
        }

        .footerizq {
        display: flex;
        }


        .Instagram {
            list-style: none;
        }

        .Facebook {
            list-style: none;
            margin-top: 20px;
        }

        .map {
            width: 300px;
            height: 300px;
            align-content: center;
        }
    }

/*PRODUCTOS - GALERIAS */

    #galeria{ background-color: aquamarine;
        padding-bottom: 25px;
        display: grid;
        grid-template-columns: repeat(5, 2fr);
        grid-template-rows: 20%, repeat(3, 2fr);
        grid-template-areas:
        "budines    cookies panaderia    facturas  salado"
        "brownies1 cookies1 panificados1 facturas1 salado1"
        "brownies2 cookies2 panificados2 facturas2 salado2"
        "brownies3 cookies3 panificados3 facturas3 salado3";


        .title1{
        text-align: center;
        font-size:xx-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .title2{
            @extend .title1;
        }

        .title3{
            @extend .title1;
        }

        .title4{
            @extend .title1;
        }

        .title5{
            @extend .title1;
        }

        img {
        align-items:center;
        width: 180px;
        height: 180px;
        }

        .brownies1{
        grid-area: brownies1;
        margin: 5px;
        }

        .brownies1:hover {
        transform: scale(1.2);
        }

        .brownies2 {
            grid-area: brownies2;
            margin: 5px;
        }

        .brownies2:hover {
            transform: scale(1.2);
        }

        .brownies3{
            grid-area: brownies3;
            margin: 5px;
        }

        .brownies3:hover {
            transform: scale(1.2);
        }

        .cookies1{
            grid-area: cookies1;
            margin: 5px;
        }

        .cookies1:hover {
        transform: scale(1.2);
        }

        .cookies2 {
            grid-area: cookies2;
            margin: 5px;
        }

        .cookies2:hover {
            transform: scale(1.2);
        }

        .cookies3{
            grid-area: cookies3;
            margin: 5px;
        }

        .cookies3:hover {
            transform: scale(1.2);
        }

        .panificados1{
            grid-area: panificados1;
            margin: 5px;
        }

        .panificados1:hover {
        transform: scale(1.2);
        }

        .panificados2{
            grid-area: panificados2;
            margin: 5px;
        }

        .panificados2:hover {
            transform: scale(1.2);
        }

        .panificados3{
            grid-area: panificados3;
            margin: 5px;
        }

        .panificados3:hover {
            transform: scale(1.2);
        }

        .facturas1{
            grid-area: facturas1;
            margin: 5px;
        }

        .facturas1:hover {
            transform: scale(1.2);
        }

        .facturas2{
            grid-area: facturas2;
            margin: 5px;
        }

        .facturas2:hover {
            transform: scale(1.2);
        }

        .facturas3{
            grid-area: facturas3;
            margin: 5px;
        }

        .facturas3:hover {
            transform: scale(1.2);
        }

        .salado1{
            grid-area: salado1;
            margin: 5px;
        }

        .salado1:hover {
            transform: scale(1.2);
        }

        .salado2{
            grid-area: salado2;
            margin: 5px;
        }

        .salado2:hover {
            transform: scale(1.2);
        }

        .salado3{
            grid-area: salado3;
            margin: 5px;
        }

        .salado3:hover {
            transform: scale(1.2);
        }
    }

    /*FESTIVIDADES - INFORMACIÓN GENERAL */

    .productosFestivos {
        background-color: aquamarine;
        padding: 10px;
    }

    .serviciosPersonalizados {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

    .volanta {
        text-align: center;
        font-style: normal;
        font-size: larger;
    }

    /*FESTIVIDADES - CAROUSELES */

    #carouselExampleControls {
        text-align: center;
    }

    #carouselExampleControls2{
        text-align: center;
    }

    #carouselExampleControls3{
        text-align: center;
    }
 
/*SERVICIO DE CATERING*/

    .servicio {
        text-align: center;
    }

    .catering1 {
        background-color: aquamarine;
        align-items: center;
    }

    .video { display: flex;
        display: inline-block;
        margin: 20px;
    }

    /*FORMULARIO DE CONTACTO*/

    .flex__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        background-color: aqua;
    }

    .mensaje {
        background-color: #00ffff;
        margin: 0%;
    }

    .form {
        width: 100%;
        height: 400px;
        flex: 1;
        text-align: right;
    }

    .form__input {
        width: 70%;
        margin: 7px;
        padding: 7px;
        border: none;
        border: 5px solid #468bb3;
        background: transparent;
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: medium;}

    #button {
        width: 160px;
    }

    .form__input:focus {
        background-color: #61bdf2;
        outline: none;
    }

    textarea {
        min-height: 100px;
        resize: none;
    }

    .imagenEmail {
        width: 400px;
        height: 400px;
        flex: 1;
        padding: 10px;
    }

    li img{
        height: 180px;
        width: 180px ;
    }

    .boton {
        width: 180px;
        text-align: center;
        font-size: x-large;
        background-color: aquamarine;
    }

/*ADAPTACION MOBILE - MEDIA QUERIES*/

    @media screen and (max-width: 380px)
    {

        /*BARRA DE NAVEGACIÓN*/

    header {
        background-image: none;
        background-color: aqua;
    }

    #logo {
        width: 50px;
        height: 50px;
    }

    nav {
        display: flex;
    }

    nav a:hover {
        color:white;
    }
/*PAGES SOBRA?? */
    .pages {
        display: inline;
        flex-direction: column;
        margin-left: 145px;
        margin-top: -80px;
        font-size: medium;
    }

/*INDEX - DATOS PERSONALES */
    .data {
        display: inline;
    }

    .alifer2 {
        height: fit-content;
        width: 65%;
        margin-top: 30px;
    }

    .chefs{
        margin-top: 25px;
    }

    .names {
        margin-top: 20px;
    }

/*INDEX - SLOGAN */

    .desafio1{
        height: 350px;
    }

    .slogan {
        margin-top: -25px;
        font-size: 17pt;
        padding: 10px;
    }

/*INDEX - FECHAS IMPORTANTES DE GASTRONOMIA*/

    .festivo {
        height: 180px;
        display: flex;
    }

    .calendar {
        height: fit-content;
        width: 80%;
        margin: auto;
    }

    /*PIE DE PÁGINA */

    .footerIzq {
        display: flex;
        flex-direction: column;
        background-image:linear-gradient(to top, aqua, lightblue);
    }

    .Cen {
        background-image:linear-gradient(to top, aqua, lightblue);
    }

    .redes {
        display: inline;
    }

    .map {
        margin-top: 45px;
        width: 95%;
        height: 75%;
    }

    /* SERVICIO DE CATERING*/

    /*.catering1 sobra??*/

    .catering1 {
        display: flex;
    }
/*Cambiar x width deñ div padre?*/
    .servicio {
        display: inline;
    }

    .video {
        width: 350px;
        align-items:center
    }

    /*FORMULARIO DE CONTACTO*/

    .form{
        text-align: center;
    }

    .emailContainer {
        display: flex;
    }

    .imagenEmail{
        width: 80%;
        height: fit-content;
        justify-content: center;
    }
    }








